<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.flysfo.shorttrips"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>

  <application
      android:name=".SfoApplication"
      android:allowBackup="true"
      android:fullBackupContent="@xml/backup"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".main.MainActivity"
        android:screenOrientation="portrait"
        android:noHistory="true"
        android:launchMode="singleTop"
        />
    <activity
        android:name=".auth.AuthActivity"
        android:screenOrientation="portrait"
        android:launchMode="singleTop"
        />
    <service android:name=".service.OnClearFromRecentService" android:stopWithTask="false" />
    <service android:name=".service.SfoFirebaseService" android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT"/>
      </intent-filter>
    </service>
    <activity
        android:name=".auth.SplashActivity"
        android:theme="@style/SplashTheme"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="cone_notification" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="70883f6b3a82956cddde2edee94634fd28752993"/>
    <receiver
        android:name=".ping.PingReceiver"/>
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@mipmap/ic_launcher" />
  </application>

</manifest>
